@import "tailwindcss";


@import "swiper/css";
@import "swiper/css/effect-fade";
@import "swiper/css/navigation";
@import "swiper/css/pagination";


@theme {
  --color-primary: #663F2E;
  --color-secondary: #B4D342;
  --color-blue: #00AFEF;
  --color-yellow:#FFF212;
  --color-dark-grey:#292627;
  --color-light-grey:#848688;
}

/* Add this in globals.css */

@keyframes zoomPulse {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }

  50% {
    transform: scale(1.12);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 0.4;
  }
}

.custom-pagination .swiper-pagination-bullet {
  background: #B4D342 !important;
  opacity: 1 !important;
}

.custom-pagination .swiper-pagination-bullet-active {
  background: #663F2E !important;
}

@keyframes moveLine {
  0% {
    transform: translateY(-120px);
  }

  100% {
    transform: translateY(1200px);
  }
}


.related-swiper .swiper-pagination {
    bottom: 0 !important;
}

.related-swiper .swiper-pagination-bullet {
    background: #8dc63f !important;
    opacity: 0.4;
}

.related-swiper .swiper-pagination-bullet-active {
    opacity: 1;
    width: 22px;
    border-radius: 20px;
}

.custom-description ul {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-left: 0;
}

.custom-description li {
    position: relative;
    list-style: none;
    padding-left: 42px;
    font-size: 18px;
    line-height: 1.9;
    color: #666;
}

.custom-description li::after {
    content: "";

    position: absolute;
    left: 0;
    top: 5px;

    width: 22px;
    height: 22px;

    border-radius: 999px;

    background-color: #6b3f2a;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 24 24'%3E%3Cpath d='M20.285 4.709c-.39-.39-1.023-.39-1.414 0L8.5 15.08l-3.371-3.371c-.39-.39-1.023-.39-1.414 0l-1.414 1.414c-.39.39-.39 1.023 0 1.414l5.5 5.5c.39.39 1.023.39 1.414 0l12-12c.39-.39.39-1.023 0-1.414l-1.43-1.414z'/%3E%3C/svg%3E");

    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
}